<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!--bootstrap Libraries-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--Font Awesome-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title>Books</title>
</head>
    <div class="container-fluid">
        <!--Navbar BEGIN-->
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/books"><i class="fas fa-book-reader"></i> goodReads</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/books">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="/categories">Categories</a>
                    <a class="nav-item nav-link active" href="/books/allbooks">Books</a>
                    <a class="nav-item nav-link active" href="/authors">Authors</a>
                  </div>
                </div>

               
                   <ul class="nav nav-list">
                                    <form id="suggestion_form" class="form-inline text-center">
                                        <li><input id="suggestion" name="suggestion" type="text"
                                                class="form-control " placeholder="Find Books"
                                                aria-label="Username" aria-describedby="basic-addon1" style="width: 100%">
                                        </li>
                                        <ul class="list-group" style="background-color: white; position: absolute;
                                    width: 12.7em;display: none; z-index: 100;top:40px;
                                   " id="searchbox">

                                        </ul>
                                    </form>
                                </ul>

                
                <form class="form-inline">
                  <img src="/images/user.png" width="50px" alt="" srcset="">
                  <h6 class="mr-sm-2 username_book_navbar">{{user.firstName}} {{user.lastName}} </h6>
                  <button class="btn btn-outline-success my-2 my-sm-0 book_view_logout_button" type="submit">
                    <i class="fas fa-sign-out-alt"></i> <a href="/users/logout">Log Out</a>
                  </button>
                </form>
            </nav>
          </div>
        </div>
        
        
        <!--Navbar END-->


        
  