<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <!--bootstrap Libraries-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!--Font Awesome-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
  <title>Home</title>

</head>
<body>
  <div class="container-fluid">

    <!--Navbar BEGIN-->
    <div class="row">
      <div class="col-12">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">
            <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            goodReads
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:right">
           <div style="background-color: red">
            {{locals.message}}
           </div>
            <form class="form-inline my-2 my-lg-0" method="POST" action="/login">
     
              <input class="form-control mr-sm-2 navbar_username_input" type="search" placeholder="Enter your username" name="email">
              <input class="form-control mr-sm-2 navbar_password_input" type="password" placeholder="Enter your password" name="password">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log in</button>
                   
            </form>
          </div>
</nav>
  </div>
    </div>
    <!--Navbar END-->

    <!--Sign Up Section BEGIN-->

    <div class="row">
      <div class="col-6 text-center reading_undraw_background">
        <img src="images/undraw_book_lover_mkck.svg" alt="" srcset="">
      </div>

      <div class="col-1"></div>
      <div class="col-4 sign_up_forms_container">
        <form method="POST" action="/signup">
          <h4 class="sign_up_forms_element">New here? Create a free account</h4>
       <div style="background-color: red">
  {{#locals.err}}
  <p>Validation Errors</p>
  
    {{{locals.err}}}
    {{#locals.email}}
   {{{locals.email}}}
    
  
{{/locals.email}}
  {{/locals.err}}
</div>
          <div class="form-group sign_up_forms_element">
            <input type="text" class="form-control" id="first_name_field" placeholder="Enter your first name" name="firstName">
          </div>

          <div class="form-group sign_up_forms_element">
            <input type="text" class="form-control" id="last_name_field" placeholder="Enter your last name" name="lastName">
          </div>
          <div class="form-group sign_up_forms_element">
            <input type="date" class="form-control" id="date_field" placeholder="Enter your DOB" name="dob">
          </div>
          <div class="input-group mb-2 sign_up_forms_element">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-at"></i></div>
            </div>
            <input type="text" class="form-control" id="email_address_field" placeholder="Enter your email" name="email">
          </div>

          <div class="input-group mb-2 sign_up_forms_element">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-key"></i></div>
            </div>
            <input type="password" class="form-control" id="password_field" placeholder="Enter your password" name="password">
          </div>

          <div class="input-group mb-2 sign_up_forms_element">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-key"></i></div>
            </div>
            <input type="password" class="form-control" id="retype_password_field" placeholder="Re-type your password" name="repassword">
          </div>
          <div class="form-check sign_up_forms_element">
            <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="m" checked>
            <label class="form-check-label" for="exampleRadios1">
              Male
            </label>
            </div>
            <div class="form-check sign_up_forms_element">
              <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="f">
              <label class="form-check-label" for="exampleRadios2">
                Female
              </label>
            </div>

          <button type="submit" class="btn btn-primary sign_up_forms_element">Sign Up</button>
        </form>
      </div>
    </div>
    <!--Sign Up Section END-->

    <!--Popular Section BEGIN-->
    <div class="row text-center">
      <div class="col-4">Popular Authors</div>
      <div class="col-4">Popular Books</div>
      <div class="col-4">Popular Categories</div>
    </div>
      <!--Popular Section END-->



  </div>
  <script>

  </script>
</body>
</html>