/*
    Home.html
*/

.reading_undraw_background{
  padding-top: 1.5%;
}

.sign_up_forms_container{
  padding-top: 5%;

}

.reading_undraw_background{
  margin-left: 5%;

}

.sign_up_forms_element{
  padding-bottom: 10px;
  margin-left: 28%;
  width: 75% !important;
}